[build]
builder = "NIXPACKS"
buildCommand = "npm install && cd client && npm install && npm run build"

[deploy]
startCommand = "npm run seed:nepa && node server.js"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
NODE_ENV = "production"
